{% comment %} {% render 'header-mega-menu' %} {% endcomment %}

<div class="sticky-collection-menu">
    {% render 'header-mega-menu', 
        menu_links: linklists.collections-list.links,
        color_scheme: settings.sticky_collection_color_scheme

    %}
</div>


<script>
 

 

</script>