<style>
    .sticky-collection-menu .header__menu-item{
        font-size: {{ settings.sticky_collection_header_menu_font_size }}px;
        font-weight: {{ settings.sticky_collection_header_menu_font_weight }};
    }

</style>


<div class="sticky-collection-menu">
    {% render 'header-mega-menu', 
        menu_links: linklists.collections-list.links,
        color_scheme: settings.sticky_collection_color_scheme
    %}
</div>