/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch {
  --swatch--size: var(--swatch-input--size, 4.4rem);
  --swatch--border-radius: var(--swatch-input--border-radius, 50%);

  display: block;
  width: var(--swatch--size);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--swatch--border-radius);
}

.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable {
  border-style: dashed;
  border-color: rgba(var(--color-foreground), 0.5);
}

/* Custom CSS */

.product-form__input--swatch-custom{
  gap:0.1rem
}

.swatch--more{
  /* width: 1.5rem;
  height: 1.5rem; */
  display: flex;
  border: 0;
}

.swatch--more svg{
  color: var(--more_variant_icon_color);
  stroke: var(--more_variant_icon_stroke_color);
  width: 100%;
  height: 100%;

}

.swatch--more svg path {
  stroke-width: var(--more_variant_icon_stroke_width); 
}

.product-form__input--swatch-custom:hover svg path,
.product-form__input--swatch-custom:hover .swatch--more svg path {
  stroke-width: calc(var(--more_variant_icon_stroke_width, 1) + 0.2);
}