.breadcrumbs-container {
    margin: 0;
    background: var(--breadcrumb-background);
    border-radius: var(--breadcrumb-border-radius);
}

.breadcrumbs {
    width: 100%;
    color: var(--breadcrumb-text-color);
    font-size: 1.2rem;
}

.breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.breadcrumbs__list li{
    flex:none;
}

.breadcrumbs__list li:is(:last-child) {
    flex: 1;
}

.breadcrumbs__list li:is(:last-child) .svg-wrapper{
    flex: none;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumbs__link {
    color: inherit;
    font-weight: var(--font-semi-bold);
    opacity: 0.5;
    text-decoration: none;
}

.breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: var(--font-semi-bold);
    opacity: 1;
}

.breadcrumbs__link:hover {
    opacity: 0.7;
}

.breadcrumbs__link[aria-current="page"]:hover {
    opacity: 1;
}


.breadcrumbs__item .svg-wrapper {
    width: 1rem;
    height: 1rem;
    color: var(--breadcrumb-text-color);
    opacity: 0.5;
}

@media screen and (min-width: 750px) {
    
    .breadcrumbs{
        font-size: 1.4rem;
    }
    
}