.breadcrumbs-container {
    margin: 2rem auto;
}

.breadcrumbs {
    /* background: #ededed; */
    background: var(--breadcrumb-background);
    padding: 1rem 1.5rem;
    /* border-radius: var(--buttons-radius); */
    border-radius: var(--breadcrumb-border-radius);
    /* color: black; */
    color: var(--breadcrumb-text-color)

}

.breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs__item {
    display: inline-block;
    margin: 0 0.4rem;
}

.breadcrumbs__item:is(:last-child) {}

.breadcrumbs__link {
    text-decoration: none;
    color: inherit;
    font-weight: var(--font-semi-bold);
}

.breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: var(--font-semi-bold);
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.breadcrumbs__link[aria-current="page"]:hover,
.breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: text-underline-offset 0.3s ease-in-out;
}

.breadcrumbs__item .svg-wrapper {
    width: 1rem;
    height: 1rem;
    color: var(--breadcrumb-text-color)
}