.breadcrumbs-container {
    margin: 0;
    background: var(--breadcrumb-background);
    border-radius: var(--breadcrumb-border-radius);
}

.breadcrumbs {
    width: 100%;
    color: var(--breadcrumb-text-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.breadcrumbs__list li{
    flex:none;
}

.breadcrumbs__list li:is(:last-child) {
    flex: 1;
}

.breadcrumbs__list li:is(:last-child) .svg-wrapper{
    flex: none;
}


.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.breadcrumbs__item:is(:last-child) {}

.breadcrumbs__link {
    text-decoration: none;
    color: inherit;
    font-weight: var(--font-semi-bold);
}

.breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: var(--font-semi-bold);
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.breadcrumbs__link[aria-current="page"]:hover,
.breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: text-underline-offset 0.3s ease-in-out;
}

.breadcrumbs__item .svg-wrapper {
    width: 1rem;
    height: 1rem;
    color: var(--breadcrumb-text-color)
}