/* Cart Page CSS */

.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 14rem 0;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 14rem 0;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 6.5rem;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  top: 2.5rem;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 30rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

/* .cart__ctas > * + * {
  margin-top: 1rem;
} */

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__blocks > * + * {
  margin-top: 4rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  /* margin: 2.2rem 0 1.6rem auto; */
  /* text-align: center; */
  display: block;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    /* margin-bottom: 2.2rem; */
    /* text-align: right; */
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

}


/****** Custom CSS *******/

.cart-page{
  max-width: 100rem;
}

/* Cart Item Color Swatches */

.color-swatch {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 30%;
}

.label-custom-swatches {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

/* Quantity Input Stepper Container */

.cart-page_totals_quantity_container{
  display: flex;
  flex-direction: row;
}

/* Quantity Input */

.cart-page .cart-item__quantity-wrapper .quantity {
  min-height: calc((var(--inputs-border-width) * 2) + 1.5rem);
  /* width: calc(12rem / var(--font-body-scale) + var(--inputs-border-width) * 2); */
  width: 80%;
  max-width: 20rem;
}

@media screen and (max-width: 350px) {

  .cart-page .cart-item__quantity-wrapper .quantity {
    width: 100%;
  }

}

@media screen and (min-width: 750px) {
  .cart-page .cart-item__quantity-wrapper .quantity {
    min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
  }
  
}

.cart-item__quantity-wrapper .quantity-popover-container {
  flex: 1;
}

/* Price Font Sizes */

.cart-page .cart-item__item_current_price {
  font-size: 1.4rem;
}

.cart-page .product-option-custom-for-price{
  margin-top: 0.8rem;
}

@media screen and (min-width: 750px) {
  .cart-page .cart-item__item_current_price {
    font-size: 1.6rem;
  }
  
}

/* Sale Badge */

.cart-page .cart-item__sale_badge {
  top: -9%;
  right: -4%;
}


/* Footer */

.cart-page .cart__footer .totals-footer-cart-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.totals-footer-cart-page .totals{
  display: flex;
  justify-content: space-between;
}

.cart__ctas{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-page .totals > * + * {
  /* width: 42%;
  text-align: end; */
}

@media screen and (min-width: 425px) {

  
  .totals-footer-cart-page .totals{
    justify-content: space-between;
  }

  .cart-page .cart__ctas {
    justify-content: end;
  }
}

@media screen and (min-width: 750px) {
  .cart-page .cart__footer .totals-footer-cart-page {
    gap: 1.5rem;
  }

  .totals-footer-cart-page .totals-savings .totals__savings, .totals-footer-cart-page .totals-subtotal .totals__subtotal {
    font-size: 1.5rem;
  }

  .totals-footer-cart-page .totals__total{
    font-size: 1.6rem;
  }

  .totals-footer-cart-page .totals{
    /* justify-content: end; */
  }

}


/* Footer Buttons */

.cart__cart-overview-button {
  background: #535353;
  min-width: fit-content;
  min-height: unset;
  height: 3.5rem;
}

.cart__cart-overview-button::after{
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
      0 0 0 var(--buttons-border-width) rgba(83, 83, 83, var(--alpha-button-background));
}

.cart__cart-overview-button:not([disabled]):hover::after{
  --border-offset: 1.3px;
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
    0 0 0 calc(var(--buttons-border-width) + 1px) rgba(83, 83, 83, var(--alpha-button-background));

}

.cart__warnings .button{
  background: var(--theme-black-color);
  min-width: fit-content;
  min-height: unset;
  height: 3.5rem;
}

.cart__warnings .button::after{
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)),
      0 0 0 var(--buttons-border-width) rgba(83, 83, 83, var(--alpha-button-background));
}

@media screen and (min-width: 750px) {

  .cart__cart-overview-button {
    display: flex;
  }

  .cart__warnings .button{
    height: 4.5rem;
  }
  
}
