/* Custom CSS */

.header-logo-container{
    line-height: 0;
}



/* Sticky Collection Menu */

.sticky-collection-menu{
    display: none;
}



@media screen and (min-width: 750px){
    
    .sticky-collection-menu{
        display: block;
    }
    
    .sticky-collection-menu{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 20;
        box-shadow: 0 0 6px rgba(0,0,0,0.3);
        /* Line Black */
        /* box-shadow: 0 0 3px 1px black; */
    }

    .sticky-collection-menu .list-menu--inline {
        display: flex;
        flex-wrap: nowrap;
        gap: 1rem;
        /* overflow-x: auto; */
        justify-content: space-between;
        margin: 1rem 1rem 0;
        width: 100%;
        max-width: 120rem;
    }

    .sticky-collection-menu .header__inline-menu {
        /* margin:0 1rem; */
        padding: 0 3.2rem;
    }

    .sticky-collection-menu .list-menu--inline li {
        /* flex-shrink: 0;
        white-space: nowrap; */
    }

    .sticky-collection-menu .header__menu-item .icon-caret {
        top: 10%;
    }

    /* Thick Underline Effect */

    .sticky-collection-menu .header__menu-item span{
        padding-bottom: 1rem;
        background-size: 0% 4px;
    }
    
    .sticky-collection-menu .header__menu-item span:hover{
        background-size: 100% 4px;
    }

    .sticky-collection-menu .header__menu-item.header__active-menu-item span{
        background-size: 100% 4px;
    }

    .sticky-collection-menu details[open]>.header__menu-item span{
        background-size: 100% 4px;
    }

    
}


