.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;

}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}


/* Custom CSS */

.adv-contact-form {
  max-width: 70rem;
}


/* Outline Black CSS */

.adv-contact-form .field::after {
  box-shadow: none;
}

.adv-contact-form .field:not([disabled]):hover::after {
  box-shadow: none;
}

.adv-contact-form :focus-visible {
  box-shadow: none;
  outline: none;
}

.adv-contact-form .field__input:focus {
  box-shadow: none;
}

/* Input Color Border Bottom */

.adv-contact-form .field__input{
  border-bottom: 2px solid var(--theme-signature-color);
  border-radius: 0;
}

.adv-contact-form .field__input{
  padding: 0;
}

.adv-contact-form .field__label, .adv-contact-form .field__input:focus~.field__label, .field__input:not(:placeholder-shown)~.field__label{
  left: 0;
}

/* Flexing the Input and Label */

.adv-contact-form .field{
  display: flex;
  flex-direction: column-reverse;
}

.adv-contact-form .field__label{
  position: relative;
  font-weight: 700;
  color: black;
  font-size: 1.2rem;
}

/* Submit Button */

.contact__button .button{
  width: 100%;
  background: var(--theme-signature-color);
}

.contact__button .button:after,
.button:not([disabled]):hover:after {
  box-shadow: none;
}

.contact__button .button:hover {
  box-shadow: 0 0 0 1px rgba(var(--theme-signature-color-rgb), 0.5);
}

@media screen and (min-width: 750px) {
  .contact__button .button {
    width: fit-content;
  }

  .adv-contact-form .field__label {
    font-size: 1.5rem;
  }
}

/* Company Details */

.contact-form-section{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.company_details_block{
  
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    text-align: left;
    color: black;
}

.company_details_block .company_name{
  font-size: 1.5rem;
}

.company_details_block .block_content{
  line-height: normal;
  font-size: 1.4rem;
}

@media screen and (min-width: 750px) {
  .contact-form-section {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  .company_details_block{
    padding: 1rem 3rem;
    max-width: 40%;
    text-align: end;
  }

  
  .company_details_block .company_name{
    font-size: 1.6rem;
    font-weight: inherit;
  }

  
  .company_details_block .block_content{
    font-size: 1.5rem;
  }

  
}