.description-content{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description-content p{
    margin: 0;
}

.description-content h2{
    margin: 0;
}

@media screen and (max-width: 749px){

    .description-content .button {
        padding: 0;
    }
}

.description-content .button.button--primary{
    background: var(--theme-signature-color);
}

.description-content .button--primary:after, .button:not([disabled]):hover:after {
    box-shadow: none;
}

.description-content .button--primary:hover{
    box-shadow: 0 0 0 1px rgba(var(--theme-signature-color-rgb) ,0.5);
}

.description-content .button--secondary:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 750px){
    .description-content{
        margin: 2rem auto;
    }

    .description-content .button {
        width: fit-content;
    }
    
}


.description-content .h0{
    line-height: 1;
}