@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    /* max-width: 100%; */
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    /* margin-bottom: 1.5rem; */
    margin-bottom: 0rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description > * {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    /* padding: 0 5rem; */
    padding: 0rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}


/* Custom CSS */

.filter-and-product-grid-container{

  display: flex;
} 

.filter-button-mobile{
  display: block;
  background: var(--theme-signature-color);
  border: none;
  height: 3.5rem;
  border-radius: var(--inputs-radius);
  aspect-ratio: 1;
}

.filter-button-container{
  display: flex;
  justify-content: space-between;
}

.results-product-count{
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-left: 1rem;
}

.filter-button-mobile-no-search-bar{
  display: block;
  font-size: 1.1rem;
  letter-spacing: inherit;
  font-family: inherit;
}

.filter-button-mobile-no-search-bar--button{
  /* background: rgba(var(--color-link), var(--alpha-link)); */
  background: rgba(var(--color-button),var(--alpha-button-background));
  border-radius: 0.6rem;
  padding: 0.2rem 1.1rem;
  color: rgb(234, 232, 232);
  border: none;
}

.filter-button-mobile-no-search-bar--link{

  color: rgba(var(--color-link), var(--alpha-link));
  text-decoration: underline;
  background: transparent;
  border: none;
  border-radius: unset;
  
}

@media only screen and (min-width: 749px) {  

  .facets-wrapper-desktop {  
    position: sticky;  
    top: 0;  
  }  

  .filter-button-mobile, .filter-button-container{
    display: none;
  }
} 


/* Card Alignment */

.featured-collection-custom .card__information {
  /* gap: 0.5rem; */
  gap:1rem
}

@media screen and (max-width: 425px) {

  .featured-collection-custom .slider--tablet.grid--peek.grid--2-col-tablet-down .grid__item {
    width: calc(52% - var(--grid-mobile-horizontal-spacing) - 2rem);
  }

  .featured-collection-custom .card--standard > .card__content{
    padding: 0;
  }
  
  .featured-collection-custom .card--standard > .card__content .card__information{
    padding-left: 7px;
    padding-right: 7px;
  }

  .featured-collection-custom .quick-add__submit{
    padding: .5rem 1.2rem
  }
  
}

@media screen and (min-width: 749px) {

  /* Product Card Price and Add To Cart Div */
  .featured-collection-custom .price{
    flex: none;
  }

  .featured-collection-custom .price-add-to-cart-container{
    gap: 0.2rem;
  }

 /*  .featured-collection-custom .quick-add{
    width: 100%;
  } */

  .featured-collection-custom .quick-add__submit{
    max-width: 7rem;
    width: 100%;
  }
  
  .featured-collection-custom .quick-add__modal-opener{
    display: flex;
    justify-content: end;
  }

  .featured-collection-custom .price_without_tax{
    margin-top: 0.2rem;
  }
}


/* Collection Page Right Col */

.collection_page-right-col{
  flex: 1;
}